@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5D5E60;
    overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidenav a.active {
    background-color: #36413E;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: #8D8D92;
    color: black;
}

/* Style the content */
.content {
    background-color: #D7D6D6;
    margin-left: 200px;
    padding: 20px;
}